body {
    background: #2B2B2B;
    color: #B8C7D6;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
div::selection,
img::selection,
li::selection,
a img::selection,
b::selection,
i::selection,
u::selection,
a::selection{
    background: #f2f2f2;
    color: #2B2B2B;
}

br,
ul,
.link,
.nav ul,
.dot-div,
.nav ul li a{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.nav-wrapper{
    width: 100%;
    height: 100px;
    margin-top: 80px;
}

.nav{
    width: 86%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    border: solid #B8C7D655;
    border-width: 0px 0px 1px 0px;
}

.nav ul{
    list-style: none;
    font-size: 18px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    /* text-decoration: none; */
    color: #9876AA;
    margin: 0px 10px;
}

.desc-wrapper{
    width: 100%;
    min-height: 250px;
}

.desc{
    width: 86%;
    margin: auto;
    /* margin-top: 80px; */
}

.desc .title{
    font-size: 30px;
}

.desc p{
    font-size: 18px;
    text-align: justify;
}

.desc a{
    /* text-decoration: none; */
    /* color: #9876AA; */
    color: #B8C7D6;
    /* text-transform: uppercase; */
}

.link-wrapper{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}

.link-wrapper .link{
    width: 86%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    border: solid #B8C7D655;
    border-width: 1px 0px 0px 0px;
}

.link-wrapper .link a{
    text-decoration: none;
    line-height: 2px;
    color: #B8C7D6;
    margin: 0px 10px;
}

.filter-green{
    filter: invert(54%) sepia(15%) saturate(893%) hue-rotate(235deg) brightness(91%) contrast(93%);
}

.right-most{
    text-align: right;
    font-weight: 500;
    font-size: 18px;
}

.title-text{
    color: #9876AA;
    /* text-decoration: underline; */
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    min-height: 280px;
}

/* Caption text */
.text {
    text-align: center;
    font-size: 46px;
    font-style: italic;
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #B8C7D6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #9876AA;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    height: 100px;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
