body {
    background: #2B2B2B;
    color: #B8C7D6;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
img::selection,
br::selection,
b::selection,
i::selection,
u::selection,
a::selection{
    background: #f2f2f2;
    color: #2B2B2B;
}

.title-wrapper{
    width: 100%;
    height: 100px;
}

.title-div{
    width: 86%;
    height: 100px;
    margin: auto;
    margin-top: 80px;
}

.title-div b{
    text-decoration: none;
    color: #9876AA;
    font-weight: 500;
}

.title-div a{
    color: #B8C7D6;
    text-decoration: none;
    font-size: 80px;
}

.desc-wrapper{
    width: 100%;
}

.desc{
    width: 86%;
    margin: auto;
    margin-top: 80px;
}

.desc .title{
    font-size: 30px;
}

.desc p{
    font-size: 18px;
    text-align: justify;
}

.desc a{
    text-decoration: none;
    color: #9876AA;
}

.link-wrapper{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.link-wrapper .link{
    width: 86%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    border: solid #B8C7D655;
    border-width: 1px 0px 0px 0px;
}

.link-wrapper .link a{
    text-decoration: none;
    line-height: 2px;
    color: #B8C7D6;
    padding:0px 10px;
}

.filter-green{
    filter: invert(50%) sepia(14%) saturate(1011%) hue-rotate(235deg) brightness(99%) contrast(88%);
}
