body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
div::selection,
img::selection,
a::selection{
    background: #00ff00;
    color: black;
}

.logo-div{
    position: relative;
    margin: 90px auto 20px auto;
    width: 576px;
    padding: 0px;
    height: 100px;
    text-align: center;
}

.logo-div img{
    width: 120px;
    float: left;
}

.logo-div .logo-text{
    padding: 20px;
    float: left;
}

.logo-div .logo-text a{
    color: #00ff00;
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
}

.strip {
    position: relative;
    margin: 0px auto 40px auto;
    padding: 0px;
    width: calc(100% - 200px);
    height: 6px;
    background: linear-gradient(90deg, cyan, #00bcff, #007aff, #0037ff, #0b00ff, #4e00ff, #9000ff, #d300ff, #ff00e9, #ff00a6, #ff0064, #ff0021, #ff2100, #ff6400, #ffa600, #ffe900, #d3ff00, #90ff00, #4eff00, #0bff00, #00ff37, #00ff7a, #00ffbc, cyan) content-box #fff;
    background-blend-mode: exclusion;
}

.desc{
    color: #00ff00;
    font-family: monospace;
    margin: 0px auto;
    width: calc(100% - 200px);
    text-align: center;
    font-size: 17px;
}
/*
.desc p{
    user-select: none;
} */

.desc p::selection{
    background: #00ff00;
    color: black;
}

.action-div{
    width: 609px;
    margin: 60px auto;
    word-spacing: 30px;
}
.action-div a{
    color: #00ff00;
    border: 1px solid #00ff00;
    border-radius: 40px;
    text-decoration: none;
    font-size: 17px;
    padding: 4px 38px;
    text-transform: uppercase;
    word-spacing: 1px;
    font-family: monospace;
    line-height: 40px;
}

.action-div a:hover{
    color: #000;
    background-color: #00ff00;
}

.action-div a::selection{
    background: #00ff00;
    color: black;
}
